<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h1><%= info %></h1>  
    <div id="container"></div>
    <script src="bigpipe.js"></script>
</body>
</html>